<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top">
            <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                        <img src="http://meadowlarktravel.com/email/logo.png" class="image_fix" alt="" width="180" height="220">
                    </td>
                    <td width="200" valign="top">
                        <p>Thank you for booing your trip with Shenzhen Travel,{{cart.billing.name}}!</p>
                        <p>Your reservation number is {{cart.numnber}},and an emial has been sent to {{cart.billing.email}} for you records.</p>
                    </td>
                    <td width="200" valign="top">
                        Problems with your reservation?Contact Meadowlark Travel at <span class="mobile_link">555-555-0123</span>
                    </td>
                </tr>
            </table>
            <!-- End example table -->
            <!-- Yahoo Link color fix updated: Simply bring your link styling inline. -->
            <a href="http://htmlemailboilerplate.com" target="_blank" title="Styling Links" style="color: orange; text-decoration: none;">Coloring Links appropriately</a>
            <!-- Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers.  This can be especially painful when you putting images on top of each other or putting back together an image you spliced for formatting reasons.  Either way, you can add the 'image_fix' class to remove that space below the image.  Make sure to set alignment (don't use float) on your images if you are placing them inline with text.-->
            <img class="image_fix" src="full path to image" alt="Your alt text" title="Your title text" width="x" height="x" />
            <!-- Step 2: Working with telephone numbers (including sms prompts).  Use the "mobile_link" class with a span tag to control what number links and what doesn't in mobile clients. -->
            <span class="mobile_link">123-456-7890</span>
        </td>
    </tr>
</table>
