body {
  background-color: #ccc;
}
.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0.32rem;
}
.layout__aside,
.layout__main {
  font-size: 0.24rem;
  text-align: center;
  float: left;
}
.layout {
  margin-top: 10px;
}
.layout__aside {
  background-color: skyblue;
}
.layout__main {
  background-color: purple;
}
.layout-1 {
  padding-left: 210px;
}
.layout-1 .layout__main {
  width: 100%;
}
.layout-1 .layout__aside {
  width: 200px;
  margin-left: -210px;
}
.layout-2 {
  padding-right: 210px;
}
.layout-2 .layout__main {
  width: 100%;
}
.layout-2 .layout__aside {
  float: right;
  width: 200px;
  margin-right: -210px;
}
.layout-3 {
  padding: 0 210px;
}
.layout-3 .layout__main {
  width: 100%;
}
.layout-3 .layout__aside {
  width: 200px;
}
.layout-3 .layout__aside--left {
  margin-left: -210px;
}
.layout-3 .layout__aside--right {
  margin-right: -210px;
  float: right;
}
.layout-4 {
  padding-left: 420px;
}
.layout-4 .layout__main {
  width: 100%;
}
.layout-4 .layout__aside {
  width: 200px;
}
.layout-4 .layout__aside--first {
  margin-left: -420px;
}
.layout-4 .layout__aside--second {
  margin-left: -210px;
}
.layout-5 {
  padding-right: 420px;
}
.layout-5 .layout__main {
  width: 100%;
}
.layout-5 .layout__aside {
  width: 200px;
}
.layout-5 .layout__aside--first {
  float: right;
  margin-right: -210px;
}
.layout-5 .layout__aside--second {
  float: right;
  margin-right: -420px;
}
