body {
    background-color: skyblue;
}


/*
	默认样式的局部的

	使用:global()可以是全局的;
*/

.h1 {
    color: red;
}

:global(.h2) {
    color: blue;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin: 20px auto;
}
