{% extends 'base.html' %} {% block main%}
<article class="post post-{{post.pk}}">
    <header class="entry-header">
        <h1 class="entry-title">{{post.title}}</h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{post.category.name}}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{post.created_time}}">{{post.created_time}}</time></a></span>
            <span class="post-author"><a href="#">{{post.author}}</a></span>
            <span class="comments-link"><a href="#">4 评论</a></span>
            <span class="views-count"><a href="#">588 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{post.body | safe}}
    </div>
</article>
<section class="comment-area" id="comment-area">
    <hr>
    <h3>发表评论</h3>
    <form action="{% url 'comments:post_comment' post.pk %}" method="POST" class="comment-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="{{form.name.id_for_label}}">名字：</label>
                {{ form.name }} {{ form.name.errors }}
            </div>
            <div class="col-md-4">
                <label for="{{form.email.id_for_label}}">邮箱：</label>
                {{ form.email }} {{ form.email.errors }}
            </div>
            <div class="col-md-4">
                <label for="{{form.url.id_for_label}}">网址：</label>
                {{ form.url }} {{ form.url.errors }}
            </div>
            <div class="col-md-12">
                <label for="{{form.text.id_for_label}}">评论：</label>
                {{ form.text }} {{ form.text.errors }}
                <button type="submit" class="comment-btn">发表评论</button>
            </div>
            <!-- {{ form.name }}、{{ form.email }}、{{ form.url }} 等将自动渲染成表单控件，例如 <input> 控件。 -->
            <!-- {{ form.name.errors }}、{{ form.email.errors }} 等将渲染表单对应字段的错误（如果有的话），例如用户 email 格式填错了，那么 Django 会检查用户提交的 email 的格式，然后将格式错误信息保存到 errors 中，模板便将错误信息渲染显示。 -->
        </div>
        <!-- row -->
    </form>
    <div class="comment-list-panel">
        <h3>评论列表，共 <span>{{comment_list | length}}</span> 条评论</h3>
        <ul class="comment-list list-unstyled">
            {% for comment in comment_list %}                
            <li class="comment-item">
                <span class="nickname">{{comment.name}}</span>
                <time class="submit-date" datetime="{{comment.created_time}}">2017年3月12日 14:56</time>
                <div class="text">
                    {{comment.text}}
                </div>
            </li>
            {% empty %}
            暂无评论
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock main%}