{% extends 'base.html' %} {% block main%} {% for post in post_list %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="{{ post.get_absolute_url }}">{{post.category.name}}</a></span>
            <span class="post-date"><a href="{{ post.get_absolute_url }}"><time class="entry-date"
                                                                      datetime="{{post.created_time}}">{{post.created_time}}</time></a></span>
            <span class="post-author"><a href="{{ post.get_absolute_url }}">{{post.author}}</a></span>
            <span class="comments-link"><a href="#">4 评论</a></span>
            <span class="views-count"><a href="#">588 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{post.excerpt}}
        </p>
        <div class="read-more cl-effect-14">
            <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class='no-post'>
    暂时没有发布文章
</div>
{% endfor %} {% endblock main%} {% block toc %}
<div class="widget widget-recent-posts">
    <h3 class="widget-title">最新文章</h3>
    <ul>
        <li>
            <a href="#">Django 博客开发入门教程：前言</a>
        </li>
        <li>
            <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
        </li>
        <li>
            <a href="#">部署 Django 博客</a>
        </li>
    </ul>
</div>
<div class="widget widget-archives">
    <h3 class="widget-title">归档</h3>
    <ul>
        <li>
            <a href="#">2017 年 5 月</a>
        </li>
        <li>
            <a href="#">2017 年 4 月</a>
        </li>
        <li>
            <a href="#">2017 年 3 月</a>
        </li>
    </ul>
</div>
<div class="widget widget-category">
    <h3 class="widget-title">分类</h3>
    <ul>
        <li>
            <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
        </li>
        <li>
            <a href="#">Python 教程 <span class="post-count">(11)</span></a>
        </li>
        <li>
            <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
        </li>
    </ul>
</div>
<div class="widget widget-tag-cloud">
    <h3 class="widget-title">标签云</h3>
    <ul>
        <li>
            <a href="#">Django</a>
        </li>
        <li>
            <a href="#">Python</a>
        </li>
        <li>
            <a href="#">Java</a>
        </li>
        <li>
            <a href="#">笔记</a>
        </li>
        <li>
            <a href="#">文档</a>
        </li>
        <li>
            <a href="#">AngularJS</a>
        </li>
        <li>
            <a href="#">CSS</a>
        </li>
        <li>
            <a href="#">JavaScript</a>
        </li>
        <li>
            <a href="#">Snippet</a>
        </li>
        <li>
            <a href="#">jQuery</a>
        </li>
    </ul>
</div>
<div class="rss">
    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
</div>
{% endblock toc %}