doctype html
html
    head
        title 我的网站
        meta(chartset="utf-8")
        link(href='/style.css' type="text/css" rel='stylesheet')
        script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js')
    body
        block content