<!DOCTYPE html>
<html ng-app="directivesScopes">

<head>
    <title>directivesScopes</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
    <div class="container" ng-controller="demoController">
        <h4>hello, form {{message}}</h4>
        <input type="text" class="form-control" ng-model="message">
        <input type="text" class="form-control" ng-model="message1">
        <input type="text" class="form-control" ng-model="message2">
        <div class="well" message="message1"></div>
        <div class="well" message="message2"></div>
        <hr/>
        <div box>
            This <strong>content</strong> will be <em>wrapped</em>
        </div>
        <panel title="Static text in the client template">
            <h3>
                <em>Hello</em>,from <strong>{{message}}</strong>
            </h3>
            <input type="text" class="form-control" ng-model="message">
        </panel>
    </div>
    <div class="container" ng-controller="clickController">
        <h4>{{message}}</h4>
        <bootstrap-button the-callback="kaboom()"></bootstrap-button>
    </div>
    <script src="./js/angular-1.4.2.js"></script>
    <script>
    // Directive scope bindings are declared using somewhat cryptic symbols, =, &, and @, that denote two-way binding, one-way binding, and text binding, respectively. Let's look at each binding option in turn, beginning with the useful two-way binding.
    var app = angular.module('directivesScopes', []);

    app.directive('box', function() {
        // It simply wraps the enclosed content in a p element with some Bootstrap styles. There are two parts to using transclusion. First, we must add transclude: true to the directive's configuration. Second, we must use the ng-transclude directive someplace in the directive's template, in order to designate where to insert the client-supplied content.
        return {
            template: '<p class="bg-primary text-center" ng-transclude></p>',
            transclude: true
        }
    });

    app.directive('panel', function() {
        return {
            restrict: 'E',
            templateUrl: './views/panel.html',
            scope: {
                title: '@'
            },
            transclude: true
        }
    });

    app.controller('clickController', function($scope) {
        $scope.message = 'Waiting...';
        $scope.kaboom = function() {
            $scope.message = 'Kaboom!';
        }
    });


    // Sometimes your directives need a way to call functions on the enclosing scope even when provided with an isolated scope. Stated another way, they need to evaluate Angular expressions in the original context. For this, we have the one-way binding, or evaluation, option. Let's start with a controller that exposes the callback function kaboom.
    app.directive('bootstrapButton', function() {
        return {
            restrict: 'E',
            scope: {
                theCallback: '&'
            },
            templateUrl: './views/button.html'
        }
    });

    app.controller('demoController', function($scope) {
        $scope.message = 'The controller';
        $scope.message1 = 'directive 1';
        $scope.message2 = 'directive 2';
    });

    app.directive('message', function() {
        return {
            template: '<p>Hello,from {{message}}</p>',
            scope: {
                message: '='
            }
        }
    })
    </script>
</body>

</html>
