#app {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 0.24rem;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-mask .modal-wrapper .modal-container {
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-mask .modal-wrapper .modal-container .modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-mask .modal-wrapper .modal-container .modal-body {
  margin: 20px 0;
}
.modal-mask .modal-wrapper .modal-container .modal-default-button {
  float: right;
}
.modal-enter,
.modal-leave {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
[v-cloak] {
  display: none;
}
