doctype html
html(lang='en')
    head
        title Dashboard
        link(rel='stylesheet' href="bootstrap.min.css")
        link(rel='stylesheet' href='styles.bundle.css')
    body
        #app-container
            script(src='app.bundle.js')