html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:0.32rem}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.08rem}
sub{bottom:-0.04rem}
img{border:0}
svg:not(:root){overflow:hidden}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:0.16rem}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{padding:0;margin:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box}
ol,ul{list-style:none}
a{text-decoration:none}
a,button,input{outline:0;}
audio,canvas,img,video{vertical-align:middle}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
#canvas {
  position: absolute;
  left: 0;
  top: 0;
}
body {
  background-color: #222;
  font-family: 'Helvetica';
  overflow: hidden;
}
#control {
  position: absolute;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: #49f;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
#control #ball,
#control #rect {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #222;
  color: #444;
}
#control #ball {
  border-right: none;
  margin-right: -5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: orange;
}
#control #rect {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#control h1 {
  font-size: 30px;
  padding: 0;
  color: orange;
  margin: 10px 0 30px 30px;
  font-family: 'Microsoft Yahei';
  font-weight: 100;
}
#control p {
  margin-bottom: -10px;
}
#control input {
  border: none;
  background-color: transparent;
  margin: 20px 0;
  outline: none;
}
#control input[type='text'] {
  width: 100%;
  font-size: 25px;
  -webkit-appearance: none;
  padding-bottom: 5px;
  border-bottom: 3px solid #ededed;
  color: #ededed;
}
#control input[type='range'] {
  width: 100%;
  -webkit-appearance: none;
  background-color: silver;
  height: 8px;
}
#control input[type='range']::-webkit-slider-thumb {
  background-color: seagreen;
  width: 10px;
  height: 20px;
  -webkit-appearance: none;
}
#control #btn {
  position: absolute;
  top: 20px;
  right: -40px;
}
#control #btn span {
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 4px;
  border-bottom: 2px solid #fff;
}
#control.slide {
  left: 0px;
  -webkit-transition: left 0.5s linear;
          transition: left 0.5s linear;
}
#tips {
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: thin;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 50px;
}
