extend ./layout
block content
  h2 Case
  h3 The case statement is a shorthand for JavaScript's switch statement and takes the following form:
  - var friends = 10
  case friends
    when 0
      p you have no friends
    when 1
      p you have a friend
    default 
      p you have #{friends} friends
  hr

  h2 Case Fall Through
  h3 You can use fall through just like in a select statement in JavaScript
  - var friends = 0
  case friends
    when 0
    when 1
      p  you have very few friends
    default
      p  you have #{friends} friends
  hr
  h2 Block Expansion
  h3 Block expansion may also be used:
  - var friends = 1
  case friends
    when 0: p you have no friends
    when 1: p you have a friend
    default: p you have #{friends} friends
