extend ./layout
block content
  h2 Comments
  h3 Single line comments look the same as JavaScript comments and must be placed on their own line:
  // just some paragraphs
  p just some paragraphs
  //- will not putput within markup
