doctype html
html(lang="en")
  head
    title= pageTitle
    script(type="text/javascript").
      if(true){
        console.log(1+6)
      }
    body
      h1 Jade - node template engine
      #container.col
        if youAreUsingJade
          p You are amazing
        else
          p Get on it!
        p.
          Jade is a terse and simple
          templating language with a
          strong focus on performance
          and powerful features.
      h1 Language Reference
      p Jade is a terse language for writing HTML templates.
      ul
        li Produces HTML
        li Supports dynamic code
        li Supports reusability (DRY)

      ul
        - for(var item in demoList){
        li
          a(href= "/" + demoList[item])= demoList[item]
        - }