doctype html
html(lang="en")
    head
        title= pageTitle
        meta(chartset="utf-8")
        link(href='css/normalize.css' type="text/css" rel='stylesheet')
        script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js')
    body
        block content