html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:0.32rem}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.08rem}
sub{bottom:-0.04rem}
img{border:0}
svg:not(:root){overflow:hidden}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:0.16rem}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{padding:0;margin:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box}
ol,ul{list-style:none}
a{text-decoration:none}
a,button,input{outline:0;}
audio,canvas,img,video{vertical-align:middle}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 0.32rem;
}
.demo {
  text-align: center;
}
.demo .btn {
  width: 7.46666667rem;
}
@-webkit-keyframes fastspin {
  0% {
    -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
            transform: rotateX(-33.5deg) rotateY(45deg);
  }
  40%,
  to {
    -webkit-transform: rotateX(-33.5deg) rotateY(-315deg);
            transform: rotateX(-33.5deg) rotateY(-315deg);
  }
}
@keyframes fastspin {
  0% {
    -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
            transform: rotateX(-33.5deg) rotateY(45deg);
  }
  40%,
  to {
    -webkit-transform: rotateX(-33.5deg) rotateY(-315deg);
            transform: rotateX(-33.5deg) rotateY(-315deg);
  }
}
@-webkit-keyframes slowRotate {
  0% {
    -webkit-transform: rotateY(35deg);
    transform: rotateY(35deg);
  }
  100% {
    -webkit-transform: rotateY(395deg);
    transform: rotateY(395deg);
  }
}
@keyframes slowRotate {
  0% {
    -webkit-transform: rotateY(35deg);
    transform: rotateY(35deg);
  }
  100% {
    -webkit-transform: rotateY(395deg);
    transform: rotateY(395deg);
  }
}
.wrapper {
  height: 250px;
  position: relative;
}
.cube-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50px 50px;
      -ms-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
          transform: rotateX(-33.5deg) rotateY(45deg);
  -webkit-animation: fastspin 4s ease-in-out infinite 2s;
          animation: fastspin 4s ease-in-out infinite 2s;
}
.cube-inner li {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background: -webkit-radial-gradient(transparent 30%, rgba(0, 0, 0, 0.3) 100%);
  background: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.3) 100%);
}
.cube-inner li:before {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.cube-inner li.top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
}
.cube-inner li.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
          transform: rotateX(-90deg) translateZ(50px);
}
.cube-inner li.back {
  -webkit-transform: rotateX(-180deg) translateZ(50px);
          transform: rotateX(-180deg) translateZ(50px);
}
.cube-inner li.front {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}
.cube-inner li.right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
}
.cube-inner li.left {
  -webkit-transform: rotate(-90deg) translateZ(50px);
          transform: rotate(-90deg) translateZ(50px);
}
.cones-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 25px 25px;
      -ms-transform-origin: 25px 25px;
          transform-origin: 25px 25px;
  -webkit-transform: rotateY(35deg);
          transform: rotateY(35deg);
  -webkit-animation: slowRotate 4s ease-in-out infinite 2s;
          animation: slowRotate 4s ease-in-out infinite 2s;
}
.cones-inner li {
  position: absolute;
  top: 0;
  z-index: 10;
  border-left: 28.8675px solid transparent;
  border-right: 28.8675px solid transparent;
}
.cones-inner li.bottom {
  border-bottom: 50px solid rgba(200, 200, 200, 0.7);
}
.cones-inner li.front {
  border-bottom: 50px solid rgba(80, 80, 80, 0.7);
  -webkit-transform: rotate3d(-1, 1.732, 0, 70.5deg);
          transform: rotate3d(-1, 1.732, 0, 70.5deg);
  -webkit-transform-origin: 25% 50%;
      -ms-transform-origin: 25% 50%;
          transform-origin: 25% 50%;
}
.cones-inner li.right {
  border-bottom: 50px solid rgba(160, 160, 160, 0.7);
  -webkit-transform: rotate3d(1, 0, 0, 70.5deg);
          transform: rotate3d(1, 0, 0, 70.5deg);
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.cones-inner li.left {
  border-bottom: 50px solid rgba(120, 120, 120, 0.7);
  -webkit-transform: rotate3d(1, 1.732, 0, -70.5deg);
          transform: rotate3d(1, 1.732, 0, -70.5deg);
  -webkit-transform-origin: 75% 50%;
      -ms-transform-origin: 75% 50%;
          transform-origin: 75% 50%;
}
