html,
body {
  height: 100%;
}
#image-editor {
  display: none;
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
#image-editor .cropit-image-preview-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}
#image-editor .cropit-image-preview-container #poster-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#image-editor .cropit-image-preview-container .cropit-image-background-container {
  margin: 0 auto;
  width: 100%;
}
#image-editor .cropit-image-preview-container .cropit-image-background-container .cropit-image-background {
  opacity: .2;
}
#image-editor .cropit-image-preview-container .cropit-image-preview {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  border: 2px solid #ccc;
  cursor: move;
}
#image-editor .range-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}
#image-editor .range-wrapper .cropit-image-zoom-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background-color: #eee;
  border-radius: 5px;
  outline: none;
  width: 100%;
  position: relative;
}
#image-editor .range-wrapper .cropit-image-zoom-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
#image-editor .range-wrapper .cropit-image-zoom-input::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #eee;
  border-radius: 5px;
  outline: none;
}
#image-editor .range-wrapper .cropit-image-zoom-input::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
#image-editor .btn-group {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffff00;
  color: #333333;
  height: 40px;
  line-height: 40px;
}
#image-editor .btn-group .btn {
  position: relative;
  width: 50%;
  float: left;
}
#image-editor .btn-group .btn p {
  text-align: center;
}
#image-editor .btn-group .btn .cropit-image-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
#image-editor .poster-list-wrapper {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
}
#image-editor .poster-list-wrapper .poster-list {
  margin: 0 auto;
}
#image-editor .poster-list-wrapper .poster-list li {
  position: relative;
  float: left;
}
#image-editor .poster-list-wrapper .poster-list li span {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border-radius: 100px;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
#result {
  background-color: #ddd;
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
}
#result .result-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
#result .result-wrapper .item {
  background-color: #fff;
  padding: 20px 20px 70px 20px;
  margin: 0 auto;
  width: 90%;
}
#result .result-wrapper .item img {
  width: 100%;
}
