body,
html {
  height: 100%;
}
@font-face {
  font-family: 'font';
}
.photostack {
  font-family: 'Microsoft YaHei', sans-serif;
  margin: 0 auto;
  max-width: 640px;
  height: 100%;
  background: #ddd;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.photostack::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
          transition: opacity 0.3s, visibility 0s 0.3s;
  opacity: 0;
  visibility: hidden;
}
.photostack::after {
  opacity: 0;
  visibility: hidden;
  content: 'View Gallery';
  font-weight: 400;
  position: absolute;
  border: 3px solid #fff;
  text-align: center;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 101;
}
.photostack.photostack-start {
  cursor: pointer;
}
.photostack.photostack-start::before {
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
  opacity: 1;
  visibility: visible;
}
.photostack.photostack-start:hover::after {
  opacity: 1;
  visibility: visible;
}
.photostack.photostack-start nav {
  opacity: 0;
}
.photostack .item-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.photostack figure {
  z-index: 3;
  width: 90%;
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 20px 20px 70px 20px;
  text-align: center;
  margin: 5px;
  position: absolute;
  display: block;
  margin: 0;
}
.photostack figure.dummy {
  height: 0;
  width: 0;
  padding: 40%;
}
.photostack figure.photostack-current::after {
  -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
          transition: opacity 0.6s, visibility 0s 0.6s;
  opacity: 0;
  visibility: hidden;
}
.photostack figure::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
}
.photostack figure .photostack-back {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  color: #a7a0a2;
  padding: 50px 40px;
  text-align: left;
  font-size: 22px;
  line-height: 1.25;
  z-index: 2;
}
.photostack figure .photostack-back img {
  width: 100%;
  height: 100%;
}
.photostack figure .photostack-img {
  outline: none;
  display: block;
  background: #f9f9f9;
}
.photostack figure .photostack-img img {
  width: 100%;
  height: 100%;
}
.photostack nav {
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 30px;
  z-index: 90;
  text-align: center;
  left: 0;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.photostack nav span {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #aaa;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, background 0.3s;
          transition: transform 0.6s ease-in-out, background 0.3s;
  -webkit-transform: scale(0.48);
      -ms-transform: scale(0.48);
          transform: scale(0.48);
}
.photostack nav span:last-child {
  margin-right: 0;
}
.photostack nav span.current {
  background: #888;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.photostack nav span.current.flip {
  -webkit-transform: scale(1) rotateY(-180deg) translateZ(-1px);
          transform: scale(1) rotateY(-180deg) translateZ(-1px);
  background: #555;
}
.photostack nav span.flippable::after {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
/* Special classes for transitions and perspective */
.photostack-transition figure {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.photostack-perspective {
  -webkit-perspective: 1800px;
  perspective: 1800px;
}
.photostack-perspective > div,
.photostack-perspective figure {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.photostack-perspective figure div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.photostack-perspective figure.photostack-flip {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
}
figure.photostack-flip .photostack-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: block;
  z-index: 2;
}
#next,
#prev {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  z-index: 99;
  top: 20px;
  background-color: #000;
  color: #fff;
}
#next {
  right: 20px;
}
#prev {
  left: 20px;
}
#create {
  overflow: hidden;
  text-align: center;
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
#create img {
  width: 60px;
}
#create input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
