<!DOCTYPE html>
<html>

<head>
    <title>demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body ng-app="app">
    <div class="container" ng-controller="demoController">
        <input type="text" ng-model="student.firstName">
        <br/>
        <input type="text" ng-model="student.lastName">
        <h1>{{hello.title}}</h1>
        <h2>Hello {{student.firstName + ' ' + student.lastName}}</h2>
        <h3>Expense on Books : {{ cost * quantity | currency}}</h3>
        <h4>Roll No: {{student.rollno}}</h4>
        <h5>Marks: {{marks[3]}}</h5>
        <h6>输入的名字是：{{student.fullName() | uppercase}}</h6>
        <h6>输入的名字是：{{student.fullName() | lowercase}}</h6>
        <input type="text" ng-model="subjectName">
        <ul>
            <li ng-repeat="subject in student.subjects | orderBy:'marks' | filter:subjectName ">
                {{subject.name + ', marks: ' + subject.marks}}
            </li>
        </ul>
        <hr/>
        <input type="checkbox" ng-model="enableDisabled">Disabled button
        <br/>
        <button ng-disabled="enableDisabled">Click me!</button>
        <button ng-show="enableDisabled">Click Me show!</button>
        <button ng-hide="enableDisabled">Click Me hide!</button>
        <hr/>

        <p>Total click:{{clickCounter}}</p>
        <button ng-click="clickCounter = clickCounter + 1">ClickMe</button>
    </div>
    <script src="http://cdn.bootcss.com/angular.js/1.3.18/angular.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</body>

</html>
