.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 0.32rem;
}
.test {
  display: -webkit-box;
  display: box;
  width: 300px;
  height: 200px;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
.test #p1 {
  border: 1px solid red;
  height: 160px;
  width: 100px;
}
.test #p2 {
  border: 1px solid blue;
  height: 100px;
  width: 100px;
}
