html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:0.32rem}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.08rem}
sub{bottom:-0.04rem}
img{border:0}
svg:not(:root){overflow:hidden}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:0.16rem}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{padding:0;margin:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box}
ol,ul{list-style:none}
a{text-decoration:none}
a,button,input{outline:0;}
audio,canvas,img,video{vertical-align:middle}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
}
body {
  background-color: #f2f4f5;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav {
  background-color: #fff;
  margin-bottom: 0.26666667rem;
}
nav ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 0.33333333rem;
}
nav ul li p {
  color: #888888;
  font-size: 12px;
  line-height: 0.8rem;
}
nav ul li .icon {
  margin: 0 auto;
  width: 0.77333333rem;
  height: 0.77333333rem;
  background-image: url(../images/icons.png);
  background-size: 3.09333333rem 0.77333333rem;
}
nav ul li .icon.icon-1 {
  background-position: 0 0;
}
nav ul li .icon.icon-2 {
  background-position: -0.77333333rem 0;
}
nav ul li .icon.icon-3 {
  background-position: -1.54666667rem 0;
}
nav ul li .icon.icon-4 {
  background-position: -2.32rem 0;
}
section {
  background-color: #fff;
  margin-bottom: 0.26666667rem;
}
.type-1 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: relative;
}
.type-1 .rate {
  position: relative;
  margin-left: 0.66666667rem;
  width: 3.2rem;
  color: #f54746;
  font-size: 24px;
}
.type-1 .rate span {
  font-size: 48px;
}
.type-1 .rate .tip {
  color: #878787;
  font-size: 14px;
}
.type-1 .rate:after {
  width: 1px;
  height: 28px;
  background-color: #e6e8eb;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -14px;
}
.type-1 .intro {
  padding-left: 0.58666667rem;
}
.type-1 .intro p:first-of-type {
  color: #333333;
  font-size: 16px;
  line-height: 32px;
}
.type-1 .intro p:nth-of-type(2) {
  color: #878787;
  font-size: 14px;
  line-height: 28px;
}
.type-1 .intro .group span {
  display: inline-block;
  color: #0177f0;
  font-size: 11px;
  padding: 1px 8px;
  border-radius: 20px;
  border: 1px solid #0177f0;
  margin-right: 8px;
}
.type-1 .tag {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.type-1 .tag div {
  position: absolute;
  background-color: #ff7170;
  font-size: 10px;
  color: #fff;
  text-align: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
  right: -36px;
  padding: 2px 0;
  width: 100px;
}
.type-2 {
  padding: 0.4rem 0;
}
.type-2 ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.type-2 ul li p {
  margin-top: 0.13333333rem;
  color: #7494be;
  font-size: 14px;
}
.type-2 ul li div {
  color: #0177f0;
  font-size: 16px;
  margin: 0 auto;
  width: 2.13333333rem;
  height: 2.13333333rem;
  border-radius: 200px;
  border: 1px solid #0177f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.type-3 .item {
  position: relative;
  color: #b3b3b3;
  padding: 0.4rem;
  padding-bottom: 0;
}
.type-3 .item .title {
  color: #333333;
  font-size: 16px;
  margin-bottom: 0.53333333rem;
}
.type-3 .item .title small {
  font-size: 12px;
  color: #888888;
}
.type-3 .item .detail {
  padding-right: 0.66666667rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #dfdfdf;
}
.type-3 .item .detail .recent {
  color: #f54746;
  font-size: 21px;
  margin-bottom: 3px;
}
.type-3 .item .detail .all {
  color: #333333;
  font-size: 21px;
  margin-bottom: 3px;
}
.type-3 .item:after {
  content: '';
  display: block;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  height: 10px;
  width: 10px;
  border-right: #dfdfdf 2px solid;
  border-top: #dfdfdf 2px solid;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.type-3 .property {
  color: #b3b3b3;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.21333333rem 0.4rem;
  font-size: 14px;
}
