<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="http://cdn.bootcss.com/pure/0.6.0/pure-min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
