<% include header %>
    <h1>What's your zip code?</h1>
    <form class="pure-form">
        <fieldset>
            <input type="number" name="zip" placeholder="12345" autofocus required>
            <input type="submit" class="pure-button pure-button-primary" value="Go">
        </fieldset>
    </form>
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>
    <script src="/main.js"></script>
<% include footer %>
