<% include header %>

<h1>Edit your profile</h1>

<form action="/edit" method="post">
    <input type="text" name="displayname" class="form-control" placeholder="Display name" value="<%= currentUser.displayName || ""%>">
    <textarea name="bio" class="form-control" placeholder="Tell us about yourself!"><%= currentUser.bio || '' %></textarea>
    <input type="submit" value="update" class="btn btn-primary btn-block">
</form>

<% include footer %>