<!DOCTYPE html>
<html>

<head>
    <title>demo-js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <script>
    (function() {
        var _self = this;
        _self.width = 640;
        _self.fontSize = 100;
        _self.widthProportion = function() {
            var p = (document.body && document.body.clientWidth || document.getElementsByTagName("html")[0].offsetWidth) / _self.width;
            return p > 1 ? 1 : p < 0.5 ? 0.5 : p
        };
        _self.changePage = function() {
            document.getElementsByTagName("html")[0].setAttribute("style", "font-size:" + _self.widthProportion() * _self.fontSize + "px !important")
        };
        _self.changePage();
        window.addEventListener("resize", function() {
            _self.changePage()
        }, false)
    })();
    </script>
</head>

<body>
    <div class="container">
        <div id="demo1">
            <p v-cloak>{{message}}</p>
            <input type="text" v-model="message">
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <hr/>
        <div id="demo2">
            <ul>
                <li v-for="todo in todos" v-cloak>
                    {{todo.text}}
                </li>
            </ul>
        </div>
        <hr/>
        <div id="demo3">
            <!-- 新来的是 newTodo对象 绑定keyup enter，点击enter事件，函数是addTodo -->
            <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
            <ul>
                <li v-for="todo in todos">
                    <span>
                        {{todo.text}}
                    </span>
                    <button v-on:click="removeTodo($index)">删除</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/vue/vue.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
</body>

</html>
