.container {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  max-width: 640px;
  position: relative;
  margin: 0 auto;
}
canvas {
  display: block;
  margin: 20px auto;
  border: 5px solid skyblue;
}
