* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  min-height: 100vh;
  background: -webkit-linear-gradient(45deg, #ff1a66 0%, rgba(255, 26, 102, 0) 70%), -webkit-linear-gradient(315deg, #0643f9 10%, rgba(6, 67, 249, 0) 80%), -webkit-linear-gradient(225deg, #0df259 10%, rgba(13, 242, 89, 0) 80%), -webkit-linear-gradient(135deg, #f99e1f 100%, rgba(249, 158, 31, 0) 70%);
  background: linear-gradient(45deg, #ff1a66 0%, rgba(255, 26, 102, 0) 70%), linear-gradient(135deg, #0643f9 10%, rgba(6, 67, 249, 0) 80%), linear-gradient(225deg, #0df259 10%, rgba(13, 242, 89, 0) 80%), linear-gradient(315deg, #f99e1f 100%, rgba(249, 158, 31, 0) 70%);
}
nav {
  position: relative;
  -webkit-perspective: 600px;
          perspective: 600px;
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cool > li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cool > li > a {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
}
.cool .trigger-enter .dropdown {
  display: block;
}
.cool .trigger-enter-active .dropdown {
  opacity: 1;
}
.cool .dropdown {
  opacity: 0;
  display: none;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  top: -20px;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  will-change: transform;
}
.cool .dropdown a {
  text-decoration: none;
  color: #ffc600;
}
.cool a.button {
  background: black;
  display: block;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}
.cool a.button[href*=twitter] {
  background: #019fe9;
}
.cool a.button[href*=facebook] {
  background: #3b5998;
}
.cool a.button[href*=courses] {
  background: #ffc600;
}
.cool .bio {
  min-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
}
.cool .bio img {
  float: left;
  margin-right: 20px;
}
.cool .courses {
  min-width: 300px;
}
.cool .courses li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s, opacity 0.1s, translate 0.2s;
          transition: all 0.3s, opacity 0.1s, translate 0.2s;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}
.dropdownBackground.open {
  opacity: 1;
}
.dropdownBackground .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
/*# sourceMappingURL=style.css.map */