<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="Thonatos,Thonatos.Yang">
    <meta name="description" content="Life is short, Play more?">
    <!-- title是我自己加的 -->
    <title>{%=o.htmlWebpackPlugin.options.title%}</title>
    <!-- 改了这里，可以根据chunk来载入对应的style&js -->
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet"> {% } %}
</head>

<body>
    <div id="app"></div>
    <!-- 改了这里，可以根据chunk来载入对应的style&js -->
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
</body>

</html>
