<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body{
			padding:50px;
			font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
		}
	</style>
</head>
<body>