.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 0.32rem;
}
body {
  color: #666;
  background: #f1fcfb;
  padding: 0.1rem;
}
.grid {
  text-align: center;
  border-top: 1px solid #e5efee;
}
.grid .grid-cell {
  border: 1px solid #E5EFEE;
  border-width: 0 1px 1px 0;
  padding: 1em 2.5%;
}
@media only screen and (min-width: 1024px) {
  .grid .grid-cell {
    float: left;
    width: 33.33333%;
    padding: 2.5em 1.66666%;
  }
  .grid .grid-cell:nth-child(3n) {
    border-right-width: 0;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .grid .grid-cell {
    width: 50%;
    float: left;
    padding: 1.75em 1.5%;
  }
  .grid .grid-cell:nth-child(3n) {
    border-right-width: 1px;
  }
  .grid .grid-cell:nth-child(2n) {
    border-right-width: 0;
  }
}
.grid .hamburger {
  outline: 0;
  vertical-align: middle;
  border: 0 none;
  background: transparent;
  font-size: 60px;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.grid .hamburger:before,
.grid .hamburger:after {
  content: '';
}
.grid .hamburger:before,
.grid .hamburger .icon,
.grid .hamburger:after {
  display: block;
  width: 100%;
  height: 0.2em;
  margin: 0 0 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  background: #596c7d;
  border-radius: 0.05em;
}
.grid .hamburger.active:before,
.grid .hamburger.active .icon,
.grid .hamburger.active:after {
  background: #2c3e50;
}
.grid .hamburger.hamburger-cancel.active:before {
  -webkit-transform: translateY(0.4em) rotate(135deg);
      -ms-transform: translateY(0.4em) rotate(135deg);
          transform: translateY(0.4em) rotate(135deg);
}
.grid .hamburger.hamburger-cancel.active .icon {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.grid .hamburger.hamburger-cancel.active:after {
  -webkit-transform: translateY(-0.4em) rotate(-135deg);
      -ms-transform: translateY(-0.4em) rotate(-135deg);
          transform: translateY(-0.4em) rotate(-135deg);
}
.grid .hamburger.hamburger-plus.active:before {
  -webkit-transform: translateY(0.4em) rotate(90deg);
      -ms-transform: translateY(0.4em) rotate(90deg);
          transform: translateY(0.4em) rotate(90deg);
}
.grid .hamburger.hamburger-plus.active .icon {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.grid .hamburger.hamburger-plus.active:after {
  -webkit-transform: translateY(-0.4em) rotate(180deg);
      -ms-transform: translateY(-0.4em) rotate(180deg);
          transform: translateY(-0.4em) rotate(180deg);
}
.grid .hamburger.hamburger-minus.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.grid .hamburger.hamburger-minus.active:before {
  -webkit-transform: translateY(0.4em);
      -ms-transform: translateY(0.4em);
          transform: translateY(0.4em);
}
.grid .hamburger.hamburger-minus.active .icon {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.grid .hamburger.hamburger-minus.active:after {
  -webkit-transform: translateY(-0.4em);
      -ms-transform: translateY(-0.4em);
          transform: translateY(-0.4em);
}
.grid .hamburger.hamburger-arrow-left.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.grid .hamburger.hamburger-arrow-left.active:before {
  width: 0.6em;
  -webkit-transform: translateX(0.4em) translateY(0.2em) rotate(45deg);
      -ms-transform: translateX(0.4em) translateY(0.2em) rotate(45deg);
          transform: translateX(0.4em) translateY(0.2em) rotate(45deg);
}
.grid .hamburger.hamburger-arrow-left.active .icon {
  border-radius: 0.1em 0.25em 0.25em 0.1em;
}
.grid .hamburger.hamburger-arrow-left.active:after {
  width: 0.6em;
  -webkit-transform: translateX(0.4em) translateY(-0.2em) rotate(-45deg);
      -ms-transform: translateX(0.4em) translateY(-0.2em) rotate(-45deg);
          transform: translateX(0.4em) translateY(-0.2em) rotate(-45deg);
}
.grid .hamburger.hamburger-arrow-right.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.grid .hamburger.hamburger-arrow-right.active:before {
  width: 0.6em;
  -webkit-transform: translateX(0) translateY(0.2em) rotate(-45deg);
      -ms-transform: translateX(0) translateY(0.2em) rotate(-45deg);
          transform: translateX(0) translateY(0.2em) rotate(-45deg);
}
.grid .hamburger.hamburger-arrow-right.active .icon {
  border-radius: 0.25em 0.1em 0.1em 0.25em;
}
.grid .hamburger.hamburger-arrow-right.active:after {
  width: 0.6em;
  -webkit-transform: translateX(0) translateY(-0.2em) rotate(45deg);
      -ms-transform: translateX(0) translateY(-0.2em) rotate(45deg);
          transform: translateX(0) translateY(-0.2em) rotate(45deg);
}
.grid .hamburger.hamburger-vertical.active {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
