<!DOCTYPE html>
<html>

<head>
    <title>demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <div class="container" ng-app="demo">
        <div ng-controller="demo-controller">
            <p>
                <input type="text" ng-model="val1">
                <button ng-disabled="!val1">Click</button>
            </p>
            <!-- 
                ng-readonly
            -->
            <p>
                <input ng-checked='val2' ng-init='val2=true' type="checkbox" ng-model="val2" />
                <p>{{val2}}</p>
            </p>
            <!-- 
                ng-attr
                
                ng-href
            -->
        </div>
    </div>
    <script src="https://cdn.bootcss.com/angular.js/1.3.18/angular.js"></script>
    <script src="./5-build-in-directive.js"></script>
</body>

</html>
