<!DOCTYPE html>
<html ng-app="controllers">

<head>
    <title>controllers</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
    <div class="container" ng-controller="MessageController">
        <select ng-model="newValue" ng-options="n for n in [1,2,3]"></select>
        <input type="button" value="Add" ng-click="add()"> The sum of {{values}} is {{sum}}.
        <div>
            <input type="text" ng-model="message"> is bound to " <strong ng-bind="message"></strong> " , Press <code>esc</code> to clear it;
        </div>
        <div ng-class="{ 'haha': {{haha}} }">haha</div>
    </div>
    <script src="./js/angular-1.4.2.js"></script>
    <script>
    var controllers = angular.module('controllers', []);
    controllers.controller('MessageController', function($scope, $element) {
        $scope.values = [1, 2];
        $scope.newValue = 1;
        $scope.add = function() {
            $scope.values.push(parseInt($scope.newValue));
        };
        // $scope.sum = $scope.values.reduce(function(a, b) {
        //     return a + b;
        // });
        $scope.$watch('values', function() {
            $scope.sum = $scope.values.reduce(function(a, b) {
                return a + b;
            });
        }, true);

        $scope.haha = true;

        $scope.message = '';
        $element.bind('keyup', function(event) {
            if (event.keyCode === 27) {
                $scope.$apply(function() {
                    // Since we're working (almost) directly with the DOM here, we need to let Angular know when it's time to repaint the view. We do this by wrapping our changes to the scope in a callback passed to $scope.$apply.
                    $scope.message = '';
                });
            }
        });
    });
    </script>
</body>

</html>
