@import (inline) './normalize.css';
.container {
    user-select: none;
    font-family: 'Microsoft YaHei', sans-serif;
    position: relative;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    font-size: 16px;
}

body {
    background-color: #eee;
}
