<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input type="text" ng-model="query" placeholder="Search">
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
                <option value="-age">Oldest</option>
            </select>
            <p>Order by {{orderProp}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>总共手机数量：{{phones.length}}</p>
            <p class="focus">点击手机图片或者手机名称进入详情页</p>
        </div>
    </div>
    <div class="row"></div>
    <div class="col-md-12">
        <ul class="phones">
            <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
                <a href="#/phone/{{phone.id}}" class="thumb phoneImg">
                    <img ng-src="{{phone.imageUrl}}">
                </a>
                <a href="#/phone/{{phone.id}}">{{phone.name}}</a>
                <p>
                    {{phone.snippet}}
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- <p>{{phones | json}}</p> -->
<!-- <table>
    <tr>
        <th>row number</th>
    </tr>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7,8]">
        <td>{{i}}</td>
    </tr>
</table> -->
</div>
