<!DOCTYPE html>
<html>

<head>
    <title>demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <div class="container" ng-app="demo">
        <div ng-controller="demo-controller">
            <input ng-model="user.name" type="text" placeholder="input the user name" />
            <h1>{{user.name | capitalize}}</h1>
            <p>{{user.clock}}</p>
            <p>{{user.count | currency}}</p>
            <p>
                <button ng-click="add(1)">ADD</button>
                <button ng-click="sub(1)">Sub</button>
            </p>
            <input type="text" ng-model="user.sub.now" placeholder="input the user other info">
            <p>{{user.sub.before}} | {{user.sub.now}}</p>
            <p>{{user.name | uppercase}}</p>
            <p>{{user.list | filter:isCapitalized }}</p>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/angular.js/1.3.18/angular.js"></script>
    <script src="./1-helloworld.js"></script>
</body>

</html>
