<!DOCTYPE html>
<html>

<head>
    <title>demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <div class="container" ng-app="demo">
        <div ng-controller="demo-controller">
            <form name="form" novalidate ng-submit="signup()">
                <!-- ng-pattern='[a-zA-Z]' -->
                <label for="email">
                    <input type="email" name="email" ng-model="user.email" placeholder="enter your email address." required ng-minlength="5" ng-focus>
                </label>
                <div class="error" ng-messages="form.email.$error" ng-messages-multiple>
                    <p ng-message="required">
                        email address is required
                    </p>
                    <p ng-message="minlength">
                        email address at less five letter
                    </p>
                    <p ng-message="email">
                        email address is not a valid email
                    </p>
                </div>
                <label for="name">
                    <input type="name" name="name" ng-model="user.name" placeholder="enter your name." required ng-minlength="3" ng-maxlength="10">
                </label>
                <div class="error" ng-messages="form.name.$error" ng-messages-multiple>
                    <p ng-message="required">
                        name is required
                    </p>
                    <p ng-message="minlength">
                        name at less five letter
                    </p>
                    <p ng-message="maxlength">
                        name can not longer than 10 letter
                    </p>
                </div>
                <!-- <button type="submit" class="button" ng-disabled="form.$invalid">Submit</button> -->
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/angular.js/1.3.18/angular.js"></script>
    <script src="../js/angular-messages.min.js"></script>
    <script src="./2-form.js"></script>
</body>

</html>
