<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-inverse">
      <a href="/" class="navbar-brand">My site</a>
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">
						Contact
					</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- defineContent('body') %>
    </div>
  </main>

  <footer>
    Awesome Site. Copyright &copy; 2016
  </footer>
</body>

</html>

