<% include header %>

<h1>Sign up</h1>

<form action="/signup" method="post">
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="password" required>
    <input type="submit" value="Sign up" class="btn btn-primary btn-block">
</form>

<% include footer %>