<!DOCTYPE html>
<html>

<head>
    <title>demo-js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <script>
    (function() {
        var _self = this;
        _self.width = 640;
        _self.fontSize = 100;
        _self.widthProportion = function() {
            var p = (document.body && document.body.clientWidth || document.getElementsByTagName("html")[0].offsetWidth) / _self.width;
            return p > 1 ? 1 : p < 0.5 ? 0.5 : p
        };
        _self.changePage = function() {
            document.getElementsByTagName("html")[0].setAttribute("style", "font-size:" + _self.widthProportion() * _self.fontSize + "px !important")
        };
        _self.changePage();
        window.addEventListener("resize", function() {
            _self.changePage()
        }, false)
    })();
    </script>
</head>

<body>
    <div class="container" id="myvueinstance">
        <div class="row">
            UI Element
        </div>
        <input type="text" v-model="textinput" class="form-control">
        <p></p>
        <!--         <div class="row">
            Vue Instance data object
        </div> -->
        <!-- <p>{{$data | json}}</p> -->
        <hr>
        <ul class="nav nav-pills">
            <li v-for="library in libraries" class="active">
                <a>{{library}}</a>
            </li>
        </ul>
        <hr>
        <p>
            <input type="text" class="form-control" placeholder="Type the library name here, then click the button below." v-model="newlibrary">
        </p>
        <p>
            <button class="btn btn-info" v-on:click="addLibrary">Click to add library</button>
        </p>
        <p>
            <button class="btn btn-danger" v-on:click="deleteLibraries">Click to delete all libraries</button>
        </p>
        <hr>
        <input type="text" class="form-control" v-model="filterkey">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a v-on:click="sortvia('id')">id</a></th>
                    <th><a v-on:click="sortvia('framework')">framework</a></th>
                </tr>
            </thead>
            <tbody>
                <!-- 前面是过滤，后面是排序的值，order为1或者-1 -->
                <tr v-for="framework in frameworks | filterBy filterkey | orderBy sortparam order">
                    <td>{{framework.id}}</td>
                    <td>{{framework.framework}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h4>{{string | upper}}</h4>
        <h4>{{string | lower}}</h4>
    </div>
    <div id="anotherdiv" class="container">
        <h4>{{string | upper}}</h4>
        <h4>{{string | lower}}</h4>
    </div>
    <div id="example" class="container">
        <alert type="info" bold="Greetings" msg="This is some information."></alert>
        <alert type="warning" bold="Slow down" msg="You might crash."></alert>
        <alert type="danger" bold="Oh no!" msg="The program just crashed!"></alert>
        <alert type="success" bold="Rock Out" msg="with your Props out!"></alert>
        <button v-twitter="'You gotta see how cool Vue.js is!'" class="btn btn-info">Share this on twitter</button>
    </div>
    <script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/vue/vue.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
</body>

</html>
