<!DOCTYPE html>
<html>

<head>
    <title>demo-js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <script>
    (function() {
        var _self = this;
        _self.width = 640;
        _self.fontSize = 100;
        _self.widthProportion = function() {
            var p = (document.body && document.body.clientWidth || document.getElementsByTagName("html")[0].offsetWidth) / _self.width;
            return p > 1 ? 1 : p < 0.5 ? 0.5 : p
        };
        _self.changePage = function() {
            document.getElementsByTagName("html")[0].setAttribute("style", "font-size:" + _self.widthProportion() * _self.fontSize + "px !important")
        };
        _self.changePage();
        window.addEventListener("resize", function() {
            _self.changePage()
        }, false)
    })();
    </script>
</head>

<body>
    <div class="container">
        <div id="message">
            <span>Message is : {{message}}</span>
            <br/>
            <input type="text" v-model="message" placehodler="edit me">
            <br/>
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{checked}}</label>
            <br/>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames | json }}</span>
            <br/>
            <input type="radio" id="one" value="one" v-model="picked">
            <label for="one">One</label>
            <input type="radio" id="two" value="two" v-model="picked">
            <label for="two">Two</label>
            <span>Picked:{{picked}}</span>
            <br/>
            <select v-model="selected">
                <option selected>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected:{{selected}}</span>
            <br/>
            <select v-model="selectedList" multiple>
                <option selected>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected:{{selectedList | json}}</span>
            <br/>
            <select v-model="selected2">
                <option v-for="option in options" v-bind:value="option.value">
                    {{option.text}}
                </option>
            </select>
            <span>Selected:{{selected2}}</span>
            <br/>
            <input type="radio" v-model="picked2" value="a">
            <br/>
            <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">
        </div>
    </div>
    <script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/vue/vue.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
</body>

</html>
