<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body class="container">
    <h1>
        express guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
