html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:0.32rem}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.08rem}
sub{bottom:-0.04rem}
img{border:0}
svg:not(:root){overflow:hidden}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:0.16rem}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{padding:0;margin:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box}
ol,ul{list-style:none}
a{text-decoration:none}
a,button,input{outline:0;}
audio,canvas,img,video{vertical-align:middle}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.demo {
  text-align: center;
}
.demo .btn {
  width: 7.46666667rem;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.skrollable {
  position: fixed;
  z-index: 100;
}
.skrollable .skrollable {
  position: absolute;
}
.skrollable .skrollable .skrollable {
  position: static;
}
body {
  background: #eeeeee;
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
  background: linear-gradient(top, #eeeeee, #cccccc 100%);
  background-attachment: fixed;
}
#bg1,
#bg2,
#bg3 {
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bubbles.png) repeat 0 0;
}
#bg2 {
  z-index: 49;
  background-image: url(../images/bubbles2.png);
}
#bg3 {
  z-index: 48;
  background-image: url(../images/bubbles3.png);
}
#progress {
  height: 2%;
  background: #444;
  bottom: 0;
  z-index: 200;
}
h1 {
  font-size: 2.91em;
}
h2 {
  font-style: 1.91em;
  margin: 2em 0 1em 0;
}
p {
  margin: 1em 0;
  line-height: 1.1em;
}
#intro {
  text-align: center;
  position: fixed;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  top: 1em;
  padding: 2em;
  border-radius: 1em;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  box-sizing: border-box;
  background-color: #fff;
}
#intro .arrows {
  font-size: 2em;
  color: #09f;
}
#transform {
  width: 70%;
  left: 50%;
  top: 20%;
  margin-left: -35%;
  text-align: center;
  font-size: 150%;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
#properties {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  text-align: center;
  box-sizing: border-box;
}
#easing-wrapper {
  width: 100%;
  height: 100%;
}
#easing-wrapper #easing {
  top: 10%;
  width: 50%;
  z-index: 101;
}
#easing-wrapper .drop {
  background: #09f;
  font-weight: bold;
  padding: 1em;
}
#download {
  width: 80%;
  left: 10%;
  height: 80%;
  padding: 3em;
  border: 0 solid #222;
  box-sizing: border-box;
}
#scrollbar {
  right: 2px;
  height: 50px;
  width: 6px;
  background: #444;
  background: rbga(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 300;
  border-radius: 3px;
}
