html {
  font-size: 16px;
}
a,
button,
input {
  outline: 0;
}
.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  box-sizing: border-box;
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}
body,
html {
  height: 100%;
  overflow: hidden
;
}
