html,
body {
  height: 100%;
  width: 100%;
}
canvas {
  display: block;
}
body {
  background-color: #000;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 30px;
}
p {
  margin: 0 20px;
}
a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.button {
  text-align: center;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  background-color: #185da8;
  border-radius: 5px;
  display: block;
  font-size: 30px;
  margin: 40px auto;
  padding: 10px;
  width: 200px;
}
.button:hover {
  background: #2488f5;
  color: #fff;
  text-decoration: none;
}
#game {
  height: 600px;
  left: 50%;
  margin: -300px 0 0 -175px;
  position: relative;
  top: 50%;
  width: 350px;
}
#game #canvas1 {
  background: #001022;
}
#game #game-ui {
  height: 600px;
  position: absolute;
  width: 350px;
}
#game #game-info,
#game #game-complete {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  padding: 40px 0;
  text-align: center;
}
#game #game-state {
  position: relative;
  font-size: 14px;
  margin: 20px 0;
}
#game #game-state .reset {
  margin: 20px 20px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}
