<div class="nav-setting">
	<div class="ui buttons">
		<div class="ui floating dropdown button">
			<i class="icon bars"></i>
			<div class="menu">
				<% if (user) { %>
				<a href="/posts?author=<%= user._id %>" class="item">个人主页</a>
				<div class="divider"></div>
				<a href="/posts/create" class="item">发表文章</a>
				<a href="/signout" class="item">登出</a>
				<% } else { %>
				<a href="signin" class="item">登陆</a>
				<a href="/signup" class="item">注册</a>
				<% } %>
			</div>
		</div>
	</div>
</div>