<!DOCTYPE html>
<html>

<head>
    <title>demo-js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <script>
    (function() {
        var _self = this;
        _self.width = 640;
        _self.fontSize = 100;
        _self.widthProportion = function() {
            var p = (document.body && document.body.clientWidth || document.getElementsByTagName("html")[0].offsetWidth) / _self.width;
            return p > 1 ? 1 : p < 0.5 ? 0.5 : p
        };
        _self.changePage = function() {
            document.getElementsByTagName("html")[0].setAttribute("style", "font-size:" + _self.widthProportion() * _self.fontSize + "px !important")
        };
        _self.changePage();
        window.addEventListener("resize", function() {
            _self.changePage()
        }, false)
    })();
    </script>
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Vue demo</h1>
            <div id="app">
                <table class="table table-hover" v-cloak>
                    <thead>
                        <tr>
                            <th class="text-right" @click="sortBy('id')">序号</th>
                            <th class="text-right" @click="sortBy('name')">书名</th>
                            <th class="text-right" @click="sortBy('author')">作者</th>
                            <th class="text-right" @click="sortBy('price')">价格</th>
                            <th class="text-right">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in books | orderBy sortparam">
                            <td class="text-right">{{book.id}}</td>
                            <td class="text-right">{{book.name}}</td>
                            <td class="text-right">{{book.author}}</td>
                            <td class="text-right">{{book.price}}</td>
                            <template v-if="book.id % 2 == 0">
                                <td class="text-right">
                                    <button type="button" class="btn btn-success" @click="delBook(book)">删除</button>
                                </td>
                            </template>
                            <template v-else>
                                <td class="text-right">
                                    <button type="button" class="btn btn-danger" @click="delBook(book)">删除</button>
                                </td>
                            </template>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="5">
                                <h4>总价：{{sum}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="add-book">
                    <legend>添加书籍</legend>
                    <div class="form-group">
                        <label for="">书名</label>
                        <input type="text" class="form-control" v-model="book.name">
                    </div>
                    <div class="form-group">
                        <label for="">作者</label>
                        <input type="text" class="form-control" v-model="book.author">
                    </div>
                    <div class="form-group">
                        <label for="">价格</label>
                        <input type="text" class="form-control" v-model="book.price">
                    </div>
                    <button class="btn btn-primary btn-block" @click="addBook()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/vue/vue.js"></script>
    <script src="./js/vue-resource.min.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
</body>

</html>
