<!DOCTYPE html>
<html>

<head>
    <title>demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body ng-app="app">
    <div class="container" ng-controller="demoController">
        <p>Enter a number:
            <input type="number" ng-model="number" />
            <button ng-click="square()">X<sup>2</sup></button>
        </p>
        <p>Result: {{result}}</p>
    </div>
    <hr/>
    <p>AngularJS支持使用服务的体系结构“关注点分离”的概念。服务是JavaScript函数，并负责只做一个特定的任务。这也使得他们即维护和测试的单独实体。控制器，过滤器可以调用它们作为需求的基础。服务使用AngularJS的依赖注入机制注入正常。</p>
    <p>AngularJS提供例如许多内在的服务，如：$http, $route, $window, $location等。每个服务负责例如一个特定的任务，$http是用来创建AJAX调用，以获得服务器的数据。 $route用来定义路由信息等。内置的服务总是前缀$符号。</p>
    <p> 有两种方法来创建服务。</p>
    <p>使用工厂方法:使用工厂方法，我们先定义一个工厂，然后分配方法给它。</p>
    <p>使用服务方法:使用服务的方法，我们定义了一个服务，然后分配方法。还注入已经可用的服务。</p>
    <script src="http://cdn.bootcss.com/angular.js/1.3.18/angular.min.js"></script>
    <script type="text/javascript" src="./js/5-server.js"></script>
</body>

</html>
