.container {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 640px;
  position: relative;
  margin: 0 auto;
}
#demo li {
  cursor: pointer;
}
#demo ul,
#demo ol {
  list-style: decimal;
}
.done {
  text-decoration: line-through;
}
p {
  margin: 20px 0;
}
ul {
  margin: 30px 0;
}
