body {
    padding: 10px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

#content {
    width: 800px;
    margin: 0 auto;
}

#room {
    background: #ddd;
    margin-bottom: 1em;
}

#messages {
    width: 690px;
    height: 300px;
    overflow: auto;
    background: #eee;
    margin-bottom: 1em;
    margin-right: 10px;
}
