<!DOCTYPE html>
<html>

<head>
    <title>demo-lib-flexible</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/flexible.js"></script>
    <style>
    [v-cloak] {
        display: none;
    }
    </style>
</head>

<body>
    <div class="container">
        <section class="app">
            <header class="header">
                <h1>TODOS</h1>
                <input type="text" class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
            </header>
            <section class="main" v-show="todos.length" v-cloak>
                <input type="checkbox" v-model="allDone" class="toggle-all">
                <ul class="todo-list">
                    <li class="todo" v-for="todo in filteredTodos" :class="{completed:todo.completed,editing:todo==editedTodo}">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="todo.completed">
                            <label @dblclick="editTodo(todo)">{{todo.title}}</label>
                            <button class="destroy" @click="removeTodo(todo)">X</button>
                        </div>
                        <input type="text" class="edit" v-model="todo.title" v-todo-focus="todo==editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
                    </li>
                </ul>
            </section>
        </section>
    </div>
    <script src="../../lib/vue.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>
