<%- include('header') %>

<div class="ui grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
		<form method="post" class="ui form segment">
			<div class="field required">
				<label>用户名</label>
				<input type="text" placeholder="用户名" name="name">
			</div>
			<div class="field required">
				<label>密码</label>
				<input type="password" placeholder="密码" name="password">
			</div>
			<input type="submit" class="ui button fluid" value="登陆">
		</form>
	</div>
</div>

<%- include('footer') %>