.react-loading-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: #555;
}

.react-loading-spinner .loading-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.react-loading-spinner .alert-text {
    padding: 10px 5px;
}

.svg-loader {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 30px;
    vertical-align: middle;
    animation: 2s rotate infinite linear;
}

.svg-loader circle {
    fill: transparent;
    stroke: #00abe4;
    stroke-width: 0.07em;
    stroke-dasharray: 2.3525em 0.4705em;
    animation: 1.3s strokeDashArray infinite linear, 24s infinite linear;
}

@keyframes strokeDashArray {
    0% {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: 0
    }
    10% {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 0.001em 2.825em;
        stroke-dashoffset: -2.826em
    }
    60% {
        stroke-dasharray: 0.001em 2.825em;
    }
    100% {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: -2.826em;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
